# Ignore development directories
node_modules/
src/

##
# don't ignore tools, so that when installed from devDependencies, we can generate docs from each plugin it's installed into.
#tools/
#

templates/
docs/
temp/
.tmp/
.cache/

# Build system / config files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Git / VCS
.git/
.gitignore
.gitattributes

# IDE / OS clutter
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# Tests
test/
tests/
__tests__/
coverage/
.nyc_output/

# Misc
*.tgz
*.zip
*.gz
*.map